@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this to your CSS or Tailwind configuration */
.badge {
  display: inline-block;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  font-size: 0.875em;
  font-weight: bold;
  color: white;
}

.badge.Pending {
  background-color: #f59e0b;
}
.badge.Processing {
  background-color: #f97316;
}
.badge.Shipped {
  background-color: #3b82f6;
}
.badge.Delivered {
  background-color: #10b981;
}
.badge.Cancelled {
  background-color: #ef4444;
}
.product-image {
  width: 4rem; /* 64px */
  height: 4rem; /* 64px */
  object-fit: cover;
  border-radius: 0.5rem; /* Tailwind class for rounded corners */
}

.product-image-container {
  display: flex;
  align-items: center;
}